#### Imports

In [ ]:
import pandas as pd
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

import nltk
from nltk.stem import PorterStemmer
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('punkt')

import spacy
from spacy import displacy
import pandas as pd
spacy.cli.download("en_core_web_sm")
nlp = spacy.load("en_core_web_sm")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

âœ” Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

#### Load in both good and poor datasets

In [ ]:
poor_reviews = pd.read_csv("poor_amazon_toy_reviews.txt", names = ["Reviews"], header = None)
good_reviews = pd.read_csv("good_amazon_toy_reviews.txt", names = ["Reviews"], header = None)

#### Clean out the Malformed Characters

In [ ]:
reviews_list = []
for i in range(len(good_reviews)):
    reviews_list.append(re.sub("(\d*\&#\w*;?\d*|<br>|<br />)", "", good_reviews.Reviews[i]))

In [ ]:
for i in range(len(poor_reviews)):
    reviews_list.append(re.sub("(\d*\&#\w*;?\d*|<br>|<br />)", "", poor_reviews.Reviews[i]))

#### Normalizing RECIPIENTS and OCCASIONS

In [ ]:
## Tried and did not work
# grand = '(?:[g|G]rand)?(?:[d|D]aughters?)?(?:[s|S]ons?)?(?:[m|p]as?)?(?: kids)?(?:[c|C]hild)?(?:ren)?)|[d|D]aughters?'
# friend = '|(?:[G|g]irls?)?(?:[B|b]oys?)?(?:[F|f]riends?)?'
# siblings = '|[b|B]rothers?|[s|S]isters?'
# kids = '|[\d]*-yr old|[k|K]ids?|[\d]* y(?:ea)?r old(?: sons?| daughters?| college students?)?|[\d]* y.o. daughter'
# parents = '|[d|D]ads?|[m|M]oms?|[f|F]athers?|[m|M]others?'
# extendedfam = '|[a|A]unts?|[u|U]ncles?|[n|N]ieces?|[n|N]ephews?|[n|N]ana'
# others = '|[h|H]usbands?|[w|W]ifes?|[b|B]ab(?:y|ies)|[f|F]amil(?:y|ies)|[c|C]o-workers?)'
# recipients = grand + friend + siblings + kids + parents + extendedfam + others
# recipients

# for i in range(len(reviews_list)):
#     upd_list.append(re.sub(r'({recipients})',
#       "RECIPIENTS", reviews_list[i]))

# for i in range(len(reviews_list)):
#     upd_list.append(re.sub(r'((?:[G|g]irls?)?(?:[B|b]oys?)?(?:[F|f]riends?)?)|((?:[g|G]rand)?(?:[d|D]aughters?)?(?:[s|S]ons?)?(?:[m|p]as?)?(?: kids)?(?:[c|C]hild)?(?:ren)?)|([d|D]aughters?|[s|S]ons?|[c|C]hild(?:ren)?|[g|G]randsons?|[g|G]randdaughters?|[g|G]irlfriends?|boyfriends?|[b|B]rothers?|[s|S]isters?|7-yr old|[f|F]riends?|[k|K]ids?|3 year old|5 year old son|[h|H]usbands?|[w|W]ifes?|4 year old|[b|B]oys?|[g|G]irls?|[g|G]rand kids?|[g|G]randmas?|[g|G]randpas?|[n|N]ana|26 year old college student|[d|D]ads?|[m|M]oms?|8 year old son|11 y.o. daughter|[f|F]athers?|[m|M]others?|[a|A]unts?|[u|U]ncles?|[n|N]ieces?|[n|N]ephews?|[b|B]aby|[g|G]rand child|[f|F]amily)',
#       "RECIPIENTS", reviews_list[i]))

Tried the two types of code above to create Regex patterns that were not just writing each word out. Code worked separately in Regex, but not together so simplified it so that it could work for the sake of this class assignment. If I had more time to troubleshoot, would try to figure out what the issue is with the above code.

In [ ]:
recipient_upd_list = []
for i in range(len(reviews_list)):
    recipient_upd_list.append(re.sub(r'([g|G]randchildren|[d|D]aughters?|[s|S]ons?|[c|C]hild(?:ren)?|[g|G]randsons?|[g|G]randdaughters?|[g|G]irlfriends?|[b|B]oyfriends?|[b|B]rothers?|[s|S]isters?|7-yr old|[f|F]riends?|[k|K]ids?|\w year old daughters?|\w* year old sons?|[h|H]usbands?|[w|W]ifes?|[h|H]ubby|[w|W]ifey|[b|B]oys?|[g|G]irls?|[g|G]rand kids?|[g|G]randmas?|[g|G]randpas?|[n|N]anas?|26 year old college student|[d|D]ads?|[m|M]oms?|\w* year old|\w* y.o.|\w yr old|[f|F]athers?|[m|M]others?|[a|A]unts?|[u|U]ncles?|[n|N]ieces?|[n|N]ephews?|[b|B]aby|[g|G]rand child|[g|G]randchildren|[f|F]amily|[g|G]odsons?|[g|G]oddaughters?)',
      "RECIPIENTS", reviews_list[i]))

In [ ]:
upd_list = []
for i in range(len(reviews_list)):
    upd_list.append(re.sub(r'([[c|C|X|x]\-?(?:(hrist)?)mas|([b|B](?:(irth)?)\-?days?)|[A|a]nniversar[y|ies])',
      "OCCASIONS", recipient_upd_list[i]))

In [ ]:
reviews = pd.DataFrame(upd_list, columns = ["Reviews"])
reviews_sample = reviews.sample(2000)
reviews_sample

                                                 Reviews
90009  Very true to color and size, and the hook to h...
21217  Great cards for readings! Good for self adjust...
96241  Party Time Page Kit-RECIPIENTS, is a really cu...
73962                                        Works great
95802                                       Awesome case
...                                                  ...
98881                 Not for the beginner. Fun project.
19422                                         super cute
89368                             My RECIPIENTS loves it
96524                            My RECIPIENTS loved it.
10187    Great addition to my Scarlet Witch collection!!

[2000 rows x 1 columns]

#### To confirm that most words are taken out

In [ ]:
# https://medium.com/@cristhianboujon/how-to-list-the-most-common-words-from-text-corpus-using-scikit-learn-dad4d0cab41d
vec = CountVectorizer(stop_words="english", binary=True).fit(reviews_sample["Reviews"])
bag_of_words = vec.transform(reviews_sample["Reviews"])
sum_words = bag_of_words.sum(axis=0)
words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
words_freq[0:50]

[('recipients', 770),
 ('great', 437),
 ('love', 264),
 ('loves', 228),
 ('good', 172),
 ('just', 170),
 ('fun', 157),
 ('like', 148),
 ('little', 147),
 ('loved', 144),
 ('product', 138),
 ('time', 134),
 ('perfect', 132),
 ('quality', 127),
 ('really', 126),
 ('bought', 122),
 ('price', 114),
 ('nice', 112),
 ('play', 110),
 ('cute', 107),
 ('game', 104),
 ('occasions', 97),
 ('easy', 96),
 ('got', 95),
 ('gift', 91),
 ('toy', 87),
 ('use', 82),
 ('set', 79),
 ('recommend', 77),
 ('buy', 73),
 ('size', 72),
 ('awesome', 69),
 ('old', 68),
 ('happy', 67),
 ('best', 67),
 ('came', 66),
 ('playing', 64),
 ('received', 59),
 ('don', 58),
 ('work', 56),
 ('excellent', 56),
 ('small', 56),
 ('make', 55),
 ('works', 54),
 ('arrived', 54),
 ('looks', 53),
 ('item', 53),
 ('big', 52),
 ('new', 52),
 ('right', 52)]

#### Model 1: TFIDF vectorizer, no stopword removal or other preprocessing

In [ ]:
vectorizer = TfidfVectorizer(token_pattern=r'\b[a-zA-Z]{3,}\b')

corpus = list(reviews_sample["Reviews"].values)

X = vectorizer.fit_transform(corpus)
terms = vectorizer.get_feature_names()
tf_idf = pd.DataFrame(X.toarray(), columns = terms)
print(f"Shape of dataframe is {tf_idf.shape}")
tf_idf.head()

Shape of dataframe is (2000, 5442)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaa,abandoned,abilities,ability,able,aboard,about,above,absolute,absolutely,...,zero,zip,zipbin,zipped,zipper,zippered,zippers,zombie,zoo,zooms
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Model 2: Count vectorizer, no stopword removal or other preprocessing

In [ ]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(reviews_sample["Reviews"])

vectorized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
print(f"Shape of dataframe is {vectorized_df.shape}")
print(f"Total number of occurences: {vectorized_df.sum().sum()}")
# print(f"Word counts: {vectorized_df.sum()}")
vectorized_df.head()

Shape of dataframe is (2000, 5658)
Total number of occurences: 53844

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,02,10,100,1000,1000000000,100s,11,12,13,...,zero,zip,zipbin,zipped,zipper,zippered,zippers,zombie,zoo,zooms
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Model 3: Either Vectorizer + Stop Words Removed - TFIDF

In [ ]:
vectorizer = TfidfVectorizer(token_pattern=r'\b[a-zA-Z]{3,}\b', stop_words=stopwords.words())

corpus = list(reviews_sample["Reviews"].values)

X = vectorizer.fit_transform(corpus)
terms = vectorizer.get_feature_names()
tf_idf = pd.DataFrame(X.toarray(), columns = terms)
print(f"Shape of dataframe is {tf_idf.shape}")
tf_idf.head()

Shape of dataframe is (2000, 5017)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:401: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['aldiz', 'baiknya', 'baizik', 'berkali', 'bukatzeko', 'edota', 'eze', 'ezpabere', 'ezpada', 'ezperen', 'gainera', 'gainerontzean', 'guztiz', 'hainbestez', 'horra', 'kali', 'kurangnya', 'mata', 'olah', 'ordea', 'osterantzean', 'printr', 'sekurang', 'setidak', 'tama', 'tidaknya'] not in stop_words.
  % sorted(inconsistent)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaa,abandoned,abilities,ability,aboard,absolute,absolutely,abuse,accent,accents,...,zero,zip,zipbin,zipped,zipper,zippered,zippers,zombie,zoo,zooms
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Model 4: Either Vectorization + Stemming

In [ ]:
# https://www.projectpro.io/recipes/use-porter-stemmer
# https://www.simplilearn.com/tutorials/python-tutorial/list-to-string-in-python

stemmer = PorterStemmer()

list_with_stemmed = []
for i in range(len(reviews_sample)):
    tokenized_list = []
    stemmed_list = []
    tokenized_list.append(nltk.word_tokenize(reviews_sample["Reviews"].values[i]))
    for i in range(len(tokenized_list[0])):
        stemmed_list.append(stemmer.stem(tokenized_list[0][i]))
    list_with_stemmed.append(' '.join(stemmed_list))

data_with_stemmed = pd.DataFrame(list_with_stemmed, columns = ["Reviews"])

In [ ]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(data_with_stemmed["Reviews"])

vectorized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
print(f"Shape of dataframe is {vectorized_df.shape}")
print(f"Total number of occurences: {vectorized_df.sum().sum()}")
#print(f"Word counts: {vectorized_df.sum()}")
vectorized_df.head()

Shape of dataframe is (2000, 4308)
Total number of occurences: 53847

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,02,10,100,1000,1000000000,11,12,13,130,...,yugioh,yummi,zane,zero,zip,zipbin,zipper,zombi,zoo,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Model 5: Either Vectorization + Lemmitazation

In [ ]:
rows = []
new_list = []
for i in range(len(reviews_sample)):
    doc = nlp(list(reviews_sample["Reviews"].values)[i])
    lemmatized_list = []
    for token in doc:
        rows.append((token.text, token.lemma_, token.pos_, token.tag_, token.dep_, token.shape_, token.is_alpha, token.is_stop))
        lemmatized_list.append(token.lemma_)
    lemmatized_list = ' '.join(lemmatized_list)
    new_list.append(lemmatized_list)

lemma_data = pd.DataFrame(new_list, columns = ["Reviews"])

data = pd.DataFrame(rows, columns=["text", "lemma", "part_of_speech", "tag", "dependency", "shape", "is_alphanumeric", "is_stopword"])
data.head()

,text,lemma,part_of_speech,tag,dependency,shape,is_alphanumeric,is_stopword
0,Very,very,ADV,RB,advmod,Xxxx,True,True
1,true,true,ADJ,JJ,ROOT,xxxx,True,False
2,to,to,ADP,IN,prep,xx,True,True
3,color,color,NOUN,NN,pobj,xxxx,True,False
4,and,and,CCONJ,CC,cc,xxx,True,True

In [ ]:
vectorizer = TfidfVectorizer(token_pattern=r'\b[a-zA-Z]{3,}\b')

corpus = list(lemma_data["Reviews"].values)

X = vectorizer.fit_transform(corpus)
terms = vectorizer.get_feature_names()
tf_idf = pd.DataFrame(X.toarray(), columns = terms)
print(f"Shape of dataframe is {tf_idf.shape}")
tf_idf.head()

Shape of dataframe is (2000, 4302)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaa,abandon,abilities,ability,able,aboard,about,above,absolute,absolutely,...,zane,zero,zip,zipbin,zipped,zipper,zippered,zombie,zoo,zoom
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Model 6: Count Vectorization with ngrams = 2

In [ ]:
vectorizer = CountVectorizer(ngram_range = (2, 2), stop_words="english", binary=True)
X = vectorizer.fit_transform(reviews_sample["Reviews"])

vectorized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
print(f"Shape of dataframe is {vectorized_df.shape}")
print(f"Total number of occurences: {vectorized_df.sum().sum()}")
#print(f"Word counts: {vectorized_df.sum()}")
vectorized_df.head()

Shape of dataframe is (2000, 20160)
Total number of occurences: 23488

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,02 current,10 15,10 5x5,10 days,10 dollars,10 figures,10 inches,10 liked,10 love,10 minutes,...,zero complaints,zip lock,zipbin 40,zipped pocket,zipper rainbow,zipper vest,zippered pockets,zippers work,zombie dice,zooms just
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Model 7: TFIDF Vectorization with ngrams = 3

In [ ]:
vectorizer = TfidfVectorizer(ngram_range=(3,3),
                             token_pattern=r'\b[a-zA-Z]{3,}\b')

corpus = list(reviews_sample["Reviews"].values)

X = vectorizer.fit_transform(corpus)
terms = vectorizer.get_feature_names()
tf_idf = pd.DataFrame(X.toarray(), columns = terms)
print(f"Shape of dataframe is {tf_idf.shape}")
tf_idf.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Shape of dataframe is (2000, 36967)

,aaa but lot,aaa thank you,abandoned charmander the,abilities and are,abilities jump jets,ability amusing and,ability defensively has,ability from battle,ability hold tiny,ability phenomenal and,...,zip lock baggie,zip lock everything,zipbin doll dream,zipped pocket decent,zipper had rainbow,zipper his vest,zippered pockets are,zippers work smooth,zombie dice rules,zooms just enough
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0